include ../includes/mixins

header
    .container-fluid
        .row.align-items-center
            .col-xl-4
                nav
                    ul.nav
                        each val in ['Login', 'Register', 'Learn', 'Help']
                            li.nav-item
                                a(href='#').nav-link= val

            .col-xl-4
                #logo
                    a(href="/")
                        +renderimg("logo.png").img-fluid
            .col-xl-4
                #header-right
                    #favorite-link.header-right-item
                        a(href="#") My Favorites

                    .dropdown.language-tgl.header-right-item
                        a(
                            data-toggle = "dropdown"
                            href="#"
                            role="button"
                            aria-haspopup="true"
                            aria-expanded="false"
                            style={"background-image": "url('../../img/en.png')"}
                        ).toggle-link
                        .dropdown-menu
                            a(href="#").dropdown-item
                                img(src=require("../../img/en.png"))
                                span EN
                            a(href="#").dropdown-item
                                img(src=require("../../img/es.png"))
                                span ES
                        a(href="#").social-link
                            span
                                i.fab.fa-facebook-f
                        a(href="#").social-link
                            span
                                i.fab.fa-twitter
                        a(href="#").social-link
                            span
                                i.fab.fa-instagram
