include ../includes/mixins

header
    .container-fluid
        .row.align-items-center
            .col-xl-3.col-md-4
                #logo
                    a(href="/")
                        +renderimg("logo.png").img-fluid
            .col-xl-9.col-md-8
                nav
                    ul.nav
                        each val in ['Home', 'Opportunities', 'Why', 'Numbers', 'Training and Support', 'Process']
                            li.nav-item
                                a(href='#').nav-link= val
                    .dropdown.language-tgl
                        a(
                            data-toggle = "dropdown"
                            href="#"
                            role="button"
                            aria-haspopup="true"
                            aria-expanded="false"
                        ).dropdown-toggle
                            img(src=require("../../img/en.png"))
                        .dropdown-menu
                             a(href="#").dropdown-item
                                img(src=require("../../img/en.png"))
                                span EN
                             a(href="#").dropdown-item
                                img(src=require("../../img/es.png"))
                                span ES

                    a(href="auth.html")#apply.btn-link
                        span Apply Now!
                    a(href="#")#phone.btn-link
                        span (303) 630-9454
