include ../includes/mixins

header
    .container-fluid
        .row.align-items-center
            .col-xl-4
                nav
                    ul.nav
                        each val in ['Login', 'Register', 'Learn', 'Help']
                            li.nav-item
                                a(href='#').nav-link= val
                    .dropdown.language-tgl
                        a(
                            data-toggle = "dropdown"
                            href="#"
                            role="button"
                            aria-haspopup="true"
                            aria-expanded="false"
                        ).dropdown-toggle
                            img(src=require("../../img/en.png"))
                        .dropdown-menu
                             a(href="#").dropdown-item
                                img(src=require("../../img/en.png"))
                                span EN
                             a(href="#").dropdown-item
                                img(src=require("../../img/es.png"))
                                span ES
            .col-xl-4
                #logo
                    a(href="/")
                        +renderimg("logo.png").img-fluid
            .col-xl-4
                #header-right
                    .social-links
                        a(href="#").social-link
                            i.fab.fa-facebook-f
                        a(href="#").social-link
                            i.fab.fa-twitter
                        a(href="#").social-link
                            i.fab.fa-instagram
