extends ../includes/layout

block page-scripts
	script(src="js/coach-dashboard-aboutme.js")

block wrapper
	main#coach-dashboard
		.container
			include ../includes/breadcrumb

		#dashboard-content.content
			nav#dash-board-nav
				ul
					li
						a(href="/coach-dashboard-messages.html") Mi Message
					li
						a(href="#") Mi Bookings
					li
						a(href="#") My Payments
					li
						a(href="#") My Comments
					li
						a(href="#").active My Profile

			#dashboard-profile.dashboard-section
				#coach-fullname
					h4 Silvia Di Bonaventura
					a(href="#")
						span
							i.far.fa-address-card
							| See My profile

				#dashboard-profile-tabs
					.tabs-sidebar
						ul
							li
								a(href="coach-dashboard-aboutme.html").active About Me
							li
								a(href="coach-dashboard-paymentinformation.html") Payment Information
							li
								a(href="coach-dashboard-contact.html") Contact Information

					.tab-content

						.container-fluid
							h5.tab-title About
							.row
								.col-lg-6
									.card.profile-card-item
										.card-body
											#profile-avatar-loader
												#dashboard-profile-image
													+renderimg('default-user.png')
												#avatar-load-zone
													form(action="#" method="post" enctype="multipart/form-data").dropzone
														input(type="file" name="file" hidden)

								.col-lg-6
									.card.profile-card-item
										.card-body
											p.card-title My Language

											.card-element
												p.element-label Language spoken (at least 1 required):
												.select-wrap
													select(
														multiple
														placeholder="Coaching type..."
														data-jcf={
															multipleCompactStyle: true
														}
													).jcf-hidden
														each val, index in ['Chinese', 'English', 'Dutch', 'Greek']
															option(val= index)= val

											.card-element
												p.element-label Tell Us About Yourself
												.text-handler
													textarea(placeholder="Introduction" data-lang="en")
													textarea(placeholder="Introduction" data-lang="gr" hidden)

											.container-fluid
												.row
													.col-lg-6
														.card-element
															p.element-label Translate From:
															.select-wrap
																select(
																	placeholder="Choose Language..."
																).jcf-hidden
																	each val, index in ['Chinese', 'English', 'Dutch', 'Greek']
																		option(val= index)= val
													.col-lg-6
														.card-element
															p.element-label Translate To:
															.select-wrap
																select(
																	placeholder="Choose Language..."
																).jcf-hidden
																	each val, index in ['Chinese', 'English', 'Dutch', 'Greek']
																		option(val= index)= val

													button(type="submit")#dashboard-update.btn-raised
														span Update

								.col-lg-12.text-center
									button(type="submit").btn.btn-primary.btn-raised Update
