extends ../includes/layout

block page-scripts
	script(src="js/coach-dashboard.js")

block wrapper
	main#coach-dashboard
		.container
			//h1.c-title Silvia Di Bonaventura

			include ../includes/breadcrumb

		#dashboard-content.content
			nav#dash-board-nav
				ul
					each val in ['Mi Message', 'Mi Bookings', 'My Parents']
						li
							a(href="#")= val

					li
						a(href="#").active My Profile

			#dashboard-profile.dashboard-section
				#coach-fullname
					h4 Silvia Di Bonaventura
					a(href="#")
						span
							i.far.fa-address-card
							| See My profile

				#dashboard-profile-tabs
					.tabs-sidebar
						ul
							li
								a(href="#").active About Me

							each val in ['Payment Information', 'Contact Information']
								li
									a(href="#")= val

					.tab-content
						h5.tab-title About

						.container-fluid
							.row
								.col-lg-6
									.profile-card-item
										p My Language
										p My Language
										p My Language
								.col-lg-6
									.profile-card-item
										p.card-title My Language

										.card-element
											p.element-label Language spoken (at least 1 required)
											.select-wrap
												select(
													multiple
													placeholder="Coaching type..."
													data-jcf={
														multipleCompactStyle: true
													}
												).jcf-hidden
													each val, index in ['Chinese', 'English', 'Dutch', 'Greek']
														option(val= index)= val

										.card-element
											p.element-label Tell Us About Yourself
											.text-handler
												textarea(placeholder="Introduction" data-lang="en")
												textarea(placeholder="Introduction" data-lang="gr" hidden)

										.container-fluid
											.row
												.col-lg-6
													.card-element
														p.element-label Translate From:
														.select-wrap
															select(
																placeholder="Choose Language..."
															).jcf-hidden
																each val, index in ['Chinese', 'English', 'Dutch', 'Greek']
																	option(val= index)= val
												.col-lg-6
													.card-element
														p.element-label Translate To:
														.select-wrap
															select(
																placeholder="Choose Language..."
															).jcf-hidden
																each val, index in ['Chinese', 'English', 'Dutch', 'Greek']
																	option(val= index)= val
