extends ../includes/layout
include ../includes/mixins

block page-scripts
	script(src="js/coach-dashboard-paymentinformation.js")

block wrapper
	main#coach-dashboard
		.container
			include ../includes/breadcrumb

		#dashboar-content.content
			nav#dash-board-nav
				#dashboard-nav-tgl
					span.active-tab-name Mi Messages
					span.tab-tgl-icon
						i.fas.fa-chevron-down

				ul
					li
						a(href="/coach-dashboard-mimessages.html") Mi Message
					li
						a(href="/coach-dashboard-bookings.html") Mi Bookings
					li
						a(href="/coach-dashboard-mypayments.html") My Payments
					li
						a(href="#") My Comments
					li
						a(href="/coach-dashboard-aboutme.html").active My Profile

			#dashboard-profile.dashboard-section
				#coach-fullname
					h4 Silvia Di Bonaventura
					a(href="#")
						span
							i.far.fa-address-card
							| See My profile

				#dashboard-profile-tabs
					.tabs-sidebar
						ul
							li
								a(href="#").active About Me

							each val in ['Payment Information', 'Contact Information']
								li
									a(href="#")= val

					.tab-content
						.container-fluid
							h5.tab-title Provide your information so we can pay you

							.row
								.col-lg-6
									.profile-card-item
										.card-element
											p.element-label Last Name
											.input-wrap
												input(type="text" value="Di Bonaventura")

										.card-element
											p.element-label First Name
											.input-wrap
												input(type="text" value="Silvia")

										.card-element
											p.element-label Birthday

											.row
												.col-md-4
													.select-wrap
														select(
														multiple
														placeholder="day"
														data-jcf={
                              multipleCompactStyle: true
                            }
														).jcf-hidden
															each val, index in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]
																option(val= index)= val

												.col-md-4
													.select-wrap
														select(
														multiple
														placeholder="month"
														data-jcf={
                              multipleCompactStyle: true
                            }
														).jcf-hidden
															each val, index in ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
																option(val= index)= val

												.col-md-4
													.select-wrap
														select(
														multiple
														placeholder="year"
														data-jcf={
                              multipleCompactStyle: true
                            }
														).jcf-hidden
															each val, index in [2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012]
																option(val= index)= val

										.card-element
											p.element-label Nationality
											.select-wrap
												select(
												multiple
												placeholder="Nationality"
												data-jcf={
                          multipleCompactStyle: true
                        }
												).jcf-hidden
													each val, index in ['Chinese', 'English', 'Deutch', 'Greek']
														option(val= index)= val

										.card-element
											p.element-label Country of Residence
											.select-wrap
												select(
												multiple
												placeholder="Country of Residence"
												data-jcf={
                          multipleCompactStyle: true
                        }
												).jcf-hidden
													each val, index in ['Chinese', 'English', 'Deutch', 'Greek']
														option(val= index)= val

										.card-element
											p.element-label Profession
											.input-wrap
												input(type="text" value="")

								.col-lg-6
									.profile-card-item
										.card-element
											p.element-label Annual income (€)
											.input-wrap
												input(type="text" value="")

										.card-element
											p.element-label Bank owner name
											.input-wrap
												input(type="text" value="")

										.card-element
											p.element-label City
											.input-wrap
												input(type="text" value="")

										.card-element
											p.element-label IBAN
											.input-wrap
												input(type="text" value="")

										.card-element
											p.element-label BIC
											.input-wrap
												input(type="text" value="")

							.button-row
								button(type="submit")#dashboard-update
									span Update
