extends ../includes/layout
include ../includes/mixins

block page-scripts
	script(src="js/coach-dashboard-aboutme.js")

block wrapper
	main#coach-dashboard
		.container
			include ../includes/breadcrumb

		#dashboar-content.content
			nav#dash-board-nav
				ul
					li
						a(href="/provider-dashboard-mimessages.html") Mi Message
					li
						a(href="/provider-dashboard-bookings.html") Mi Bookings
					li
						a(href="/provider-dashboard-mypayments.html") My Payments
					li
						a(href="/provider-dashboard-comments.html") My Comments
					li
						a(href="/provider-dashboard-aboutme.html").active My Profile

				.type-switch
					input(type="checkbox" hidden)#type-switcher-checkbox
					label(for="type-switcher-checkbox")
						span Patient
						.switcher-tgl
							.switcher-tgl-dot
						span Doctor

				#dashboard-nav-tgl
					span.active-tab-name My Profile
					span.tab-tgl-icon
						i.fas.fa-chevron-down

			#dashboard-profile.dashboard-section
				#coach-fullname
					h4 Silvia Di Bonaventura
					a(href="#")
						span
							i.far.fa-address-card
							| See My profile

				#dashboard-profile-tabs
					.tabs-sidebar
						ul
							li
								a(href="coach-dashboard-aboutme.html").active About Me
							li
								a(href="coach-dashboard-paymentinformation.html") Payment Information
							li
								a(href="coach-dashboard-contact.html") Contact Information

					.tab-content
						.container-fluid
							h5.tab-title About

							.row
								.col-lg-6
									.profile-card-item
										#profile-avatar-loader
											#dashboard-profile-image
												+renderimg('default-user.png')
											#avatar-load-zone
												form(action="/file-upload"  method="post" enctype="multipart/form-data")#my-awesome-dropzone.dropzone
													input(type="file" name="file" hidden)

								.col-lg-6
									.profile-card-item
										form(action="#")
											p.card-title My Languages

											.card-element
												p.element-label Languages spoken (at least 1 required) :
												.select-wrap
													select(
														multiple
														placeholder="Choose Language..."
														data-jcf={
															multipleCompactStyle: true
														}
													).jcf-hidden
														each val, index in ['Chinese', 'English', 'Deutch', 'Greek']
															option(val= index)= val

											.card-element
												p.element-label Tell Us About Yourself
												.text-handler
													ul(role="tablist")#aboutuser-tab.nav.nav-tabs
														li
															a(
																href="#en-description-tab"
																data-toggle="tab"
																role="tab"
																aria-controls="en-description-tab"
																aria-selected="true")#en-description-tgl.active English
															a(
																href="#es-description-tab"
																data-toggle="tab"
																role="tab"
																aria-controls="es-description-tab"
																aria-selected="false")#es-description-tgl Espanol

													#aboutuser-tab-content.tab-content
														#en-description-tab.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="#en-description-tgl")
															textarea(placeholder="IntroductionEnglish" data-lang="en")
														#es-description-tab.tab-pane.fade(role="tabpanel" aria-labelledby="#es-description-tgl")
															textarea(placeholder="IntroductionEspanol" data-lang="es")

											.container-fluid
												.row
													.col-lg-6
														.card-element
															p.element-label Translate From:
															.select-wrap
																select(
																	placeholder="Choose Language..."
																).jcf-hidden
																	each val, index in ['Chinese', 'English', 'Deutch', 'Greek']
																		option(val= index)= val

													.col-lg-6
														.card-element
															p.element-label Translate To:
															.select-wrap
																select(
																placeholder="Choose Language..."
																).jcf-hidden
																	each val, index in ['Chinese', 'English', 'Deutch', 'Greek']
																		option(val= index)= val

													button(type="submit")#dashboard-update
														span Update
